<!doctype html>
<html lang="fr">
  <head>
    <title>Apola</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css" />

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  <link rel="stylesheet" href="css/skeleton.css" /> 
  <!-- a reinserer ? <link rel="stylesheet" href="css/normalize.css" /> -->
  <link rel="stylesheet" href="css/ajoutsIR.css" /> 
  
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/img/favicon.png"/>

  {{{_sections.head}}}
  </head>
  <body>
    <div class="container">
      <section class="header">	
        <div class="value-props row">
          <div class="one-third column value-prop"> 
            <left>
              <img src="/img/logo_2020_ecran.png" alt="UVSQ IUT Vélizy logo" height="83" />			  
            </left>
			<br/>
			<hr/>
          </div>
          <div class="two-thirds column value-prop">
             <br/> 
			 <center> <h4> APOLA </h4>  </center>
			  
             <center> <h5> Application du pôle alternance </h5>  </center>
			 <hr/>
          </div>
         </div>
      </section>
	  
      {{{body}}}
    </div>
  <!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  -->
  {{{_sections.scripts}}}
  </body>
</html>
