
<h6> 
	<nav><strong>
		<div class="u-pull-right">
			<h6  id="ident"> {{session.prenom}} {{session.nom}}</h6>  
			<a   id="deconnexion" href="/">Déconnexion</a>
		</div>
		</strong>
	</nav> 
</h6>
	
<br/><br/>
<br/><br/>
<div class="container">
     	
    <div class="value-props row">
        <div class="one-half column value-prop">
			<center>
				<!--	GEII -->
				<a href="/departement_0">
					<img src="/img/logo_geii.jfif" alt="Logo dpt. GEII" height="80" />
					<br/>
				
				</a> 
				<br/><br/><br/>
				<!--	Informatique  -->
				<a href="/departement_1">
					<img src="/img/logo_info.gif" alt="Logo dpt. Info" height="80" />
					<br/>
				
				</a>
			</center>
		</div>
		<div class="one-half column value-prop">
			<center>
				<!--	MMI  -->
				<a href="/departement_2">
					<img src="/img/logo_mmi.png" alt="Logo dpt. MMI" height="80" />
					<br/>				
				</a>  
				<br/><br/><br/>
				<!--	RT  -->
				<a href="/departement_3">
					<img src="/img/logo_RT.png" alt="Logo dpt. RT" height="80"  width="220"/>
					<br/>
				</a>  
			</center>
		</div>
	</div>
	<br/>
	<!-- <a href="/">Home</a>-->
</div>
{{#section 'scripts'}}
<script>
   
  
  
</script>
{{/section}}