<h6> 
	<nav><strong>
		<div class="u-pull-right">
			<h6  id="ident">  {{session.prenom}}  {{session.nom}}</h6>  
			<a   id="deconnexion" href="/">Déconnexion</a>
		</div>
		</strong>
	</nav> 
</h6>
	
<br/><br/>
<br/><br/>
<h5> Département {{session.nomDpt}}</h5> 
<div class="container">
	 afficher les formations et les candidats et les liens pour download leur cv
</div>
<br/><br/>


{{#section 'scripts'}}
  <script>
   
	 
  </script>
{{/section}}
